/* ------------------------------------- login.html-------------------------------------*/

/* Contenedor blanco del login */

.contenedor-blanco .container-sm form a {
  text-decoration: none;
  color: $neonblue;
  font-size: 1.5rem;
}