/* ------------------------------------- pricing.html-------------------------------------*/

.contenedor-blanco .productos {
  text-align: center; /* Centra todo el texto dentro del contenedor*/
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  gap: 0.5rem;
  margin-top: 50px;
  article {
    background-color: $eerieblack;
    color: $magnoliawhite;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    gap: 40px;
    width: 400px;
    min-height: 480px;
    border-radius: 5px;
    padding: 30px 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    &:hover {
      box-shadow: 0 0 50px $eerieblack;
    }
    &::before {
      content: '';
      position: absolute;
      width: 450px;
      height: 100%;
      background-color: $neonblue;
      animation: bordeAnimado2 4s linear infinite;
      z-index: -1;
    }
    &::after {
      content: '';
      position: absolute;
      inset: 5px;
      background-color: $eerieblack;
      z-index: -1;
    }
    @keyframes bordeAnimado2 {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  
  h3, .precio {
    font-size: 2.25rem;
  }
  p {
    font-size: 1.5rem;
  }
}